@font-face {
  font-family: 'Baby Gemoy';
  src: url('Baby\ Gemoy.ttf') format('truetype');
}
body {
    background-image: url('bg.png');
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
  font-family: 'Baby Gemoy';
  font-size: 2.8rem;
  color: #000000;
  margin: 40px 20px;
  
}
#content {
    display: block;
}

.start {
    font-family: 'Baby Gemoy';
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #5dd961;
    border: none;
    border-radius: 100px;
    margin-top: 20px;
}
.stop {
    font-family: 'Baby Gemoy';
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #d46159;
    border: none;
    border-radius: 100px;
    margin-top: 20px;
}
.btn1, .btn2, .btn3 {
    font-family: 'Baby Gemoy';
    padding: 20px;
    font-size: 0.9rem;
    border: solid black 2px;
    border-radius: 100px;
}
.btn1 {
    background-color: #8d8d8d;
    color: #000000;
}
.btn2 {
    background-color: #4bb2f2;
    color: #000000;
}
.btn3 {
    background-color: #f25c54;
    color: #000000;
}

p {
    font-family: 'Baby Gemoy';
    font-size: 2rem;
    color: #0b4565;
}
img {
    width: 170px;
}
#container {
    display: block;
    margin: 30px;
}
#player-el {
    margin-left: 200px;
}
#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}